<body>

    <% if (typeof Validacion !== "undefined" && Validacion) { %>
          <%- include("./Parcials/Validacion.ejs") %>
        <% } %>
        <%-include("./Parcials/ErrDup.ejs")%>
        
        <% if (typeof Confirmacion !== "undefined" && Confirmacion) { %>
         <p> carga exitosa</p>
        <% } %>
    <form action="/" method="post">
        <div>
        <label for="Nombre">Nombre:</label>
        <input  type="text" name="Nombre">
        </div>
        <div>
        <label for="Apellido">Apellido:</label>
        <input type="text" name="Apellido">
        </div>
         <div>
        <label for="Cedula">Cedula:</label>
        <input type="number" name="Cedula">
        </div>
         <div>
        <label for="Correo">Correo:</label>
        <input type="email" name="Correo">
        </div>
        <div>
        <label for="Materias">Por Favor seleccione sus materias:</label>
        <select name="Materias" id="">
            <option value="Seleccionar">Seleccionar</option>
            <option value="Matematica">Matematica</option>
        </select>
        </div>
        <button type="submit">Cargar datos</button>
    </form>
</body>
