<% if (typeof ErrorDup !== "undefined" && ErrorDup) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p>Correo o cedula ya registrados</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
  </div>
<% } %>
