<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <p>Por favor ingrese datos válidos.</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
</div>