<% if (typeof Validacion !== "undefined" && Validacion) { %>
  <!-- Verifica si la variable Validacion est치 definida y es verdadera -->

  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <!-- Muestra una alerta de error que se puede cerrar -->

    <p><%= Mensaje %></p>
    <!-- Muestra el mensaje de validaci칩n din치mico -->

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
    <!-- Bot칩n para cerrar la alerta usando Bootstrap -->
  </div>

<% } %>