<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preseleccion-Verano</title>
</head>
<%- include("../Parcials/Header.ejs")%>
<body>
    <%- body %>
</body>
<%-include("../Parcials/Footer.ejs")%>
</html>