<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Preseleccion-Verano</title>

  <!-- Bootstrap CSS -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body class="bg-light d-flex flex-column min-vh-100">
  <!-- Header incluido para navegación o elementos comunes -->
  <%- include("../Parcials/Header.ejs") %>

  <!-- Contenedor principal para el contenido dinámico -->
  <main class="container flex-grow-1 my-4">
    <%- body %>
  </main>

  <!-- Footer incluido para pie de página -->
  <%- include("../Parcials/Footer.ejs") %>

  <!-- Bootstrap JS Bundle -->
 <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
